<p>YourCompany &copy; All rights Reserved</p>
<p><%= link_to "Home", root_path %> |<%= link_to "About", about_path %>| <%= link_to "Oferta", oferta_path %> | <%= link_to "Faq", faq_path %> | <%= link_to "Contact", contact_path %> | Privacy Policy | Contact </p> 
<p id="credit"><%= link_to "Home", '#' %> by RamblingSoul | Sponsored By <%= link_to "Home", '#' %>  Design downloaded from <%= link_to "Home", '#' %></p>