<div id="topbar">
	<div id="searchbar">
		<form action="#">
			<div>
				<input type="text" id="keyword" />
				<span><input type="image" src="/images/gobutton.jpg" id="button" alt="Go" /></span>
			</div>
		</form>
	</div>

	<div id="navigation">
  		<ul>
		    <li class="active"><%= link_to "Home", 'root_path' %></a></li>
		    <li><%= link_to "contact", 'contact_path' %></li>
		    <li><%= link_to "Home", '#' %></li>
		    <li><%= link_to "Home", '#' %></li>
		    <li><%= link_to "Home", '#' %></li>
		  </ul>
  	</div>
</div>

<div id="subnav">
	<%= link_to "Registr", '#' %>| 
	<%= link_to "Login", '#' %>| 
	<%= link_to "Sitemap", '#' %> | 
	<%= link_to "Contact", '#' %> | 
	<%= link_to "Home1", '#' %> |
	<%= link_to "Home2", '#' %>
</div>

<h1 id="sitename">RS11 - Free CSS Template </h1>
