<h2>Sidebar</h2>
	<ul>
		<li><%= link_to "Home1", '#' %></li>
		<li><%= link_to "Home2", '#' %></li>
		<li><%= link_to "Home3", '#' %></li>
		<li><%= link_to "Home4", '#' %></li>
		<li><%= link_to "Home5", '#' %></li>
		<li><%= link_to "Home6", '#' %></li>
		<li><%= link_to "Home7", '#' %></li>
	</ul>
<h2>Categories</h2>
	<ul>
		<li><%= link_to "Home", '#' %></li>
		<li><%= link_to "Home", '#' %></li>
		<li><%= link_to "Home", '#' %></li>
		<li><%= link_to "Home", '#' %></li>
		<li><%= link_to "Home", '#' %></li>
		<li><%= link_to "Home", '#' %></li>
		<li><%= link_to "Home", '#' %></li>
	</ul>