<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= @title %></title>
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag :all %>
	<%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>

<body>
	<div id="wrap">
		<div id="header"><%= render 'layouts/header' %></div>
			<div id="content">
				<div id="left"><%= render 'layouts/content' %></div>
				<div id="sidebar"><%= render 'layouts/sidebar' %></div>
				<div class="clear"></div>
			</div>
		<div id="footer"><%= render 'layouts/footer' %></div>
	</div>
</body>
</html>

