<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= fulltitle %></title>
	<%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'style.css/', :media => 'screen' %>
</head>

<body>
	<div id="wrap">
		<div id="header"><%= render 'layouts/header' %></div>
			<div id="content">
				<div id="left"><%= render 'layouts/content' %></div>
				<div id="sidebar"><%= render 'layouts/sidebar' %></div>
				<div class="clear"></div>
			</div>
		<div id="footer"><%= render 'layouts/footer' %></div>
	</div>
</body>
</html>

